* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  text-align: center;
  background-image: url("../images/h_img.jpg");
  color: white;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: relative;
  object-fit: fill;
  height: 740px;
 
  padding-top: 205px;
  align-items: center;
  justify-content: center;
}

#welcome{
  padding-top: 45px;
  padding-bottom: 45px;
}

#mouse {
  padding-top: 120px;
}

.about_us {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.services {
  text-align: center;
  background-image: url("/IP3/assets/backgrounds/s_image.jpg");
  color: white;
  background-size: cover;
  height: 410px;
  padding: 115px 0;
  
}

.what_we_do {
  height: 300px;
  padding: 0px;
  align-items: center;
}

.what_we_do h2 {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.col-md-4 {
  text-align: center;
}

.design {
  vertical-align: top;
  display: inline-block;
}

.d_hidden {
  display: none;
  font-size: small;
}

.dev_hidden {
  display: none;
  font-size: small;
}

.product_hidden {
  display: none;
  font-size: small;
}

.development {
  vertical-align: top;
  display: inline-block;
}

.product_management {
  vertical-align: top;
  display: inline-block;
}

.portfolio {
  text-align: center;
}

.p_images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 70px;
  margin-right: 70px;
  position: relative;
  
}

.p_images img {
  min-width: 5rem;
  max-width: 16rem;
  margin: 0 0.5rem 2rem 0.5rem;
} 

.contact_us {
  background-image: url("/IP3/assets/backgrounds/c_image.jpg");
  color: white;
  background-size: cover;
  height: 560px;
  padding-top: 50px;
}

.contact_us h2 {
  padding-bottom: 22px;
}

input.transparent-input {
  background-color: transparent !important;
  border: 1px solid white;
  margin-right: 30px;
}

::placeholder {
  color: white;
  padding-left: 10px;
  font-style: bold;
}

textarea {
  background-color: transparent !important;
  border: 1px solid white;
  margin-right: 30px;
  height: 250px;
  width: 69%;
  margin-left: 25px;
  margin-top: 22px;
}

#name {
  width: 34%;
}

#email {
  width: 34%;
}

.social_media_icons {
  padding-top: 50px;
  padding-bottom: 50px;
}

.social_media_icons img {
  padding-right: 1em;
}

.footer {
  font-size: small;
}

.project1 {
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 80px;
  left: 100px;
  padding-top: 15px;
}

.project2 {
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 80px;
  left: 380px;
  padding-top: 15px;
}

.project3 {
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 80px;
  left: 670px;
  padding-top: 15px;
}

.project4 {
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 80px;
  left: 950px;
  padding-top: 15px;
}

.project5 {
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 340px;
  left: 100px;
  padding-top: 15px;
}

.project6 {
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 340px;
  left: 380px;
  padding-top: 15px;
}

.project7 {
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 340px;
  left: 670px;
  padding-top: 15px;
}

.project8 {
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 340px;
  left: 950px;
  padding-top: 15px;
}